#title {
  text-align: right; }

ul#posts {
  margin-left: 0;
  list-style-type: none; }
  ul#posts li.post {
    border: 1px dotted gray;
    padding: 1em;
    margin-bottom: .5em; }
    ul#posts li.post .title {
      font-weight: bold;
      border-bottom: 1px solid #d0d0d0;
      padding-bottom: .5em;
      margin-bottom: .5em; }
    ul#posts li.post .created_at {
      font-size: small;
      font-style: italic;
      color: #a8a8a8; }
    ul#posts li.post .actions {
      text-align: right; }
